{% load static %}
<html>
    <head>
        <title>Local Library</title>
        <link rel="stylesheet" type = "text/css" href="{% static 'catalog/css/style.css' %}"> 
        </title>
    </head>
    <body>
        <div class = 'header'>
            <h1>Local Library</h1>
            <div class = 'page'>
                <a href="{% url 'index' %}">Home</a>
            </div>
            <div class = 'page'>
                <a href="{% url 'books' %}">Books</a>
            </div>
            <div class = 'page'>
                <a href="{% url 'authors' %}">Authors</a>
            </div>
        </div>
        <div class = 'body'>
            <div class = 'content'>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>