{% load static %}
<html>
    <head>
        <title>Local Library</title>
        <link rel="stylesheet" type = "text/css" href="{% static 'catalog/css/style.css' %}"> 
        </title>
    </head>
    <body>
        <div class = 'header'>
            <h1>Local Library</h1>
        </div>
        <div class = 'body'>
            <div class = 'navbar'>
                <h3>Contents</h3>
                    <ul>    
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'books' %}">Books</a></li>
                        <li><a href="{% url 'authors' %}">Authors</a></li>
                    </ul>
            </div>
            <div class = 'content'>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>