{% load static %}
<html>
    <head>
        <title>Local Library</title>
        <link rel="stylesheet" type = "text/css" href="{% static 'catalog/css/style.css' %}"> 
        </title>
    </head>
    <body>
        <div class = 'header'>
                <figure class = 'box'>
                    <h1>Local Library</h1>
                </figure>
            <div class = 'page'>
                    <a href="{% url 'index' %}">
                        <figure class = 'box'>Home</figure></a>
            </div>
            <div class = 'page'>
                    <a href="{% url 'books' %}">
                        <figure class = 'box'>Books</figure>
                   </a>
            </div>
            <div class = 'page'>
                    <a href="{% url 'authors' %}"> <figure class = 'box'>Authors</figure></a>
            </div>
        </div>
        <div class = 'body'>
            <div class = 'content'>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>