body{
    margin: 0rem;
    padding: 0mm;
}


.header{
    padding: 5em;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    
}
.body{
    
}
.navbar{
    padding: 0mm;
}
