body{
    margin: 0rem;
    padding: 0mm;
}


.header{
    padding: 2em;
    padding-left: 9em;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    
}
.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar{
    margin-left: 9rem;
    padding: 0mm;
    color: cornflowerblue;
}

.content{
    color: crimson;
    margin: auto;
}