{% load static %}
<html>
    <head>
        <title>MY BLOG</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="row teal-text">
	<div class="col-s1">
	    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Intro</a></h1>
        </div>
	</div>

<div class="teal lighten-2">
	<div class="row">
	<div class="col-s1">
        {% block content %}
	{% endblock %}
	</div>
	</div>
</div>
    </body>
</html>
